USE [MangaCount]
GO
/****** Object:  Table [dbo].[Manga]    Script Date: 4/7/2026 12:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Volumes] [int] NULL,
	[FormatId] [int] NOT NULL,
	[PublisherId] [int] NOT NULL,
 CONSTRAINT [PK_Consola] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Manga] ADD  DEFAULT ((1)) FOR [FormatId]
GO
ALTER TABLE [dbo].[Manga] ADD  DEFAULT ((1)) FOR [PublisherId]
GO
ALTER TABLE [dbo].[Manga]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Formats] FOREIGN KEY([FormatId])
REFERENCES [dbo].[Formats] ([Id])
GO
ALTER TABLE [dbo].[Manga] CHECK CONSTRAINT [FK_Manga_Formats]
GO
ALTER TABLE [dbo].[Manga]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Publishers] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[Manga] CHECK CONSTRAINT [FK_Manga_Publishers]
GO
