USE [MangaCount]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 4/7/2026 12:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ProfilePicture] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Profile] ON 

INSERT [dbo].[Profile] ([Id], [Name], [ProfilePicture], [CreatedDate], [IsActive]) VALUES (1, N'Tendou', N'https://localhost:7253/api/Profile/image/profile_1_0382da77-58ed-4e1e-b66c-c3f8d151935a.gif', CAST(N'2025-07-19T22:19:13.3530000' AS DateTime2), 0)
INSERT [dbo].[Profile] ([Id], [Name], [ProfilePicture], [CreatedDate], [IsActive]) VALUES (2, N'test', N'https://localhost:7253/api/Profile/image/profile_2_a697c5c8-8bea-4490-853e-fec72695182d.png', CAST(N'2025-07-19T23:51:39.1530000' AS DateTime2), 0)
INSERT [dbo].[Profile] ([Id], [Name], [ProfilePicture], [CreatedDate], [IsActive]) VALUES (3, N'Tendou', N'https://localhost:7253/api/Profile/image/profile_3_95836dd3-41e7-4dff-818b-729ce98de3d1.gif', CAST(N'2025-07-21T16:39:15.8000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Profile] OFF
GO
/****** Object:  Index [IX_Profile_IsActive]    Script Date: 4/7/2026 12:02:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Profile_IsActive] ON [dbo].[Profile]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Profile] ADD  DEFAULT ((1)) FOR [IsActive]
GO
