USE [MangaCount]
GO
/****** Object:  Table [dbo].[Entry]    Script Date: 4/7/2026 12:02:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MangaId] [int] NOT NULL,
	[Priority] [bit] NOT NULL,
	[Pending] [varchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[ProfileId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entry_ProfileId]    Script Date: 4/7/2026 12:02:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_Entry_ProfileId] ON [dbo].[Entry]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Entry] ADD  DEFAULT ((1)) FOR [ProfileId]
GO
ALTER TABLE [dbo].[Entry]  WITH CHECK ADD  CONSTRAINT [FK_Entry_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profile] ([Id])
GO
ALTER TABLE [dbo].[Entry] CHECK CONSTRAINT [FK_Entry_Profile]
GO
